<div class="container">
	<div class="jumbotron">
		<h1>My gossip project</h1>
		<% if user_signed_in? %>
			<h2>Les 3 derniers gossips :</h2>
			<table class="table">
				<tr>
					<th>Nom du gossip</th>
					<th>Contenu du gossip</th>
					<th>Nombre de commentaire</th>
					<th>Lien</th>
				</tr>
				<% @last_gossips.first(3).each do |gossip| %>
					<tr>
						<td><%= gossip.name %></td>
						<td><%= gossip.introduction %></td>
						<td><%= gossip.comments.count %></td>
						<td><%= link_to 'Voir le gossip', gossip_path(gossip.id) %></td>
					</tr>
				<% end %>
			</table>
			<h2>Les 3 gossips les plus populaires :</h2>
			<table class="table">
				<tr>	
					<th>Nom du gossip</th>
					<th>Contenu du gossip</th>
					<th>Nombre de commentaire</th>
					<th>Lien</th>
				</tr>
				<% @famous_gossips.first(3).each do |gossip| %>
					<tr>
						<td><%= gossip.name %></td>
						<td><%= gossip.introduction %></td>
						<td><%= gossip.comments.count %></td>
						<td><%= link_to 'Voir le gossip', gossip_path(gossip.id) %></td>
					</tr>
				<% end %>
			</table>
		<% end %>
	</div>
	<% unless user_signed_in? %>
		<div class="jumbotron">
			<h3>Inscrivez vous ou connectez vous pour suivre les gossips!</h3>
		</div>
	<% end %>
</div>
