<header>
	<nav class="navbar navbar-expand-md navbar-dark bg-dark">
	    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
	        <ul class="navbar-nav mr-auto">
	            <li class="nav-item active">
	                <%= link_to "Gossip Project", root_path, :class => "btn nav-color" %>
	            </li>
	        </ul>
	    </div>
	    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
	        <ul class="navbar-nav ml-auto">
	        	<% if user_signed_in? %>
					<li class="nav-link">
						<%= link_to "Index des gossips", gossips_path, :class => "btn nav-color" %>
					</li>
					<li class="nav-link">
						<%= link_to "Profile", user_profile_path(current_user.id), :class => "btn nav-color"%>		
					</li>
					<li class="nav-link">
						<%= link_to "Deconnexion", destroy_user_session_path, method: :delete, :class => "btn nav-color" %>
					</li>
				<% else %>
					<li class="nav-link">
						<%= link_to "Inscription", new_user_registration_path, :class => "btn nav-color" %>	
					</li>
					<li class="nav-link">
						<%= link_to "Connexion", new_user_session_path, :class => "btn nav-color" %>
					</li>
				<% end %>
	        </ul>
	    </div>
	</nav>
</header>